[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
platformio = "*"

[packages]
pyserial = "*"
mkdocs = "*"
mkdocs-material = "*"
pygments = "*"
pymdown-extensions = "*"
mkdocs-minify-plugin = "*"
pytest = "*"
invoke = "*"

[requires]
python_version = "3.8"

[scripts]
serve = "mkdocs serve"
deploy = "mkdocs gh-deploy"
test = "python -m pytest --cache-clear"
